<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Book</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:insert="header :: header"></header>
<div class="container mt-5">
    <h2 class="mb-4">Add New Book</h2>
    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/admin/books/add}" method="post" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" name="title" class="form-control" required>
                </div>
                <div class="form-group mb-3">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" id="author" name="author" class="form-control" required>
                </div>
                <div class="form-group mb-3">
                    <label for="isbn" class="form-label">ISBN</label>
                    <input type="text" id="isbn" name="isbn" class="form-control" required>
                </div>

                <div class="form-group mb-3">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input type="number" id="quantity" name="quantity" class="form-control" required>
                </div>

                <div class="form-group mb-4">
                    <label for="category" class="form-label">Category</label>
                    <select id="category" name="category" class="form-select" required>
                        <option th:each="category : ${categories}" th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="coverImage2" class="form-label">Cover Image</label>
                    <input type="file" id="coverImage2" name="coverImage2" class="form-control" accept="image/*"
                           required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary w-100">Add Book</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-4">
                <label for="coverImagePreview" class="form-label">Cover Image Preview</label>
                <div class="image-preview-container">
                    <img id="coverImagePreview" src="#" alt="Cover Image Preview" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script>
    document.getElementById("coverImage2").onchange = function () {
      var reader = new FileReader();
      reader.onload = function (e) {
        var img = document.getElementById("coverImagePreview");
        img.src = e.target.result;
        img.style.display = "block";
      };
      reader.readAsDataURL(this.files[0]);
    };
</script>
</body>
</html>
