<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:insert="header :: header"></header>

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>Manage Users</h2>
                <a th:href="@{/admin/users/add}"
                   class="btn btn-primary btn-lg w-10">Add User</a>
            </div>
            <div class="table-responsive user-table">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.role}"></td>
                        <td>
                            <div th:if="${user.enabled}" class="btn btn-primary btn-status">Verified</div>
                            <div th:unless="${user.enabled}" class="btn btn-danger btn-status">Not Verified</div>

                        </td>
                        <td>
                            <div th:if="${user.active && user.role != ROLE_ADMIN}">
                                <a  th:href="@{/admin/users/deactivate/{id}(id=${user.id})}">
                                    <button class="btn btn-danger">Deactivate</button>
                                </a>
                            </div>

                            <div th:unless="${user.active}">
                                <a  th:href="@{/admin/users/activate/{id}(id=${user.id})}">
                                    <button class="btn btn-primary">Activate</button>
                                </a>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
