.register-form , .login-form{
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}

.register-form h2, .login-form h2{
    text-align: center;
    text-decoration: dashed;
    border: 1px solid royalblue;
    padding: 10px;
    background: darkcyan;
    font-size: 30px;
    color: white;
    border-radius: 5px;
    text-shadow: -10px 0 24px;
}

.btn-primary {
    color: #fff;
    background-color: darkcyan;
}

.btn-primary:hover {
    background-color: darkcyan;
}

.btn-status{
    cursor: no-drop !important;
}

.image-preview-container {
    width: 100%; /* Set the fixed width you want */
    height: 500px; /* Set the fixed height you want */
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-preview-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
}

img.card-img {
    height: 200px;
}
select.form-control.mr-2 {
    margin-right: 10px;
}
